
.aboutme-card{
  display: flex;
  background:#EFF1ED;
  border-radius: 3px;
  box-shadow: black -6px 3px 25px 0px;
  /* border: 5px solid grey; */
}

.aboutme-header{
  display: flex;
  /* border: 10px solid blanchedalmond; */
}

.aboutme-links{
  /* border: 10px solid rgb(195, 185, 74); */
  width: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 1rem;
}

.aboutme-link a {
  font-size: 30pt;
  color: #000;
}

.aboutme-title {
  margin: 0;
  margin-left: 3rem;
  /* border: 5px solid blue; */
  font-size: 35pt;
  width: 100%;

}

.aboutme-context {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 5px solid orange; */
}

.aboutme-context p {
  color:#777777;
  line-height: 1.75em;
  /* border: 5px solid yellow; */

}


@media only screen and (min-width: 1000px) {
  .aboutme-card{
    flex-direction: column;
    
  }
  .aboutme-title {
    font-size: 35pt;
    font-weight: 900;
    padding-top: 20px;
  }

  .aboutme-context{
    margin: 0rem 1rem 2rem 3rem;
  }

  
  .aboutme-context p {
    font-size: 15pt;
    font-weight: 600;
  }
}
@media only screen and (max-width: 1000px) {
  .aboutme-card{
    flex-direction: column;
  }
  .aboutme-title {
    font-size: 30pt;
    font-weight: 900;
    padding-top: 20px;
  }
  
  .aboutme-context{
    margin: 0rem 1rem 2rem 3rem;
  }

  .aboutme-context p {
    font-size: 20pt;
    font-weight: 600;
  }
}

@media only screen and (max-width: 650px) {
  .aboutme-card{
    flex-direction: column;
  }
  .aboutme-title {
    font-size: 25pt;
    font-weight: 900;
    padding-top: 20px;
  }

  .aboutme-context{
    margin: 0rem 1rem 2rem 1rem;
  }

  .aboutme-context p {
    font-size: 15pt;
    font-weight: 600;
  }
}

@media only screen and (max-width: 525px) {

  .aboutme-card{
    flex-direction: column;
  }
  .aboutme-title {
    font-size: 16pt;
    font-weight: 900;
    padding-top: 20px;
  }
  .aboutme-context{
    margin: 0rem 1rem 2rem 3rem;
  }


  .aboutme-context p {
    font-size: 12pt;
    font-weight: 600;
  }
}

@media only screen and (max-width: 450px) {
  .aboutme-card{
    flex-direction: column;
  }
  .aboutme-title {
    font-size: 18pt;
    font-weight: 900;
    padding-top: 20px;
  }

  .aboutme-context{
    margin: 0rem 1rem 2rem 3rem;

  }
  
  .aboutme-context p {
    font-size: 11pt;
    font-weight: 600;
  }

  .aboutme-links{
    width: 100%;
  }
}


