.intro-card {
  display: flex;
  justify-content: center;
  background:#EEEEEE;
  border-radius: 3px;
  box-shadow:  #222222 -6px -3px 25px 0px;
}

.intro-heading {
  /* border: 3px solid blue; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.intro-title{
  /* border: 3px solid red; */
  text-shadow: 3px 3px 10px #AAAAAA;
}

.intro-subtitle{
  /* border: 3px solid yellow; */
  text-shadow: 4px 4px 10px #EEEEEE;
}

.intro-image img {
    /* border: 3px solid grey; */
}

.resume-btn {
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 1000px){

  .intro-card{
    justify-content: space-between;
    height: 600px;
  }
  
  .intro-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 2rem;
  }
  
  .intro-title {
    font-weight: 700;
    font-size: 50px;
    color:#000;
    margin: 0;
    padding: 0;
  }
  
  .intro-subtitle {
    font-weight: 700;
    font-size: 25px;
    margin-top: 10px;
    color:#AAAAAA;
    
  }
  
  .intro-image img {
    height: 600px;
    border-radius: 2px;
    box-shadow: black -1px -1px 20px;
  }
   
}

@media only screen and (max-width: 1000px){

  .intro-card{
    padding: 0;
    justify-content: space-between;
    height: 500px;
  }
  
  .intro-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:0 2rem;

  }
  
  .intro-title {
    font-weight: 700;
    font-size: 50px;
    color:#000;
    margin: 0;
    padding: 0;
    
  }
  
  .intro-subtitle {
    font-weight: 600;
    font-size: 25px;
    margin-top: 10px;
    color:#AAAAAA;
    
  }
  
  .intro-image img {
    height: 500px;
    border-radius: 2px;
  }

}

@media only screen and (max-width: 650px) {

  .intro-card{
    margin: 0 auto;
    flex-direction: column;
    width: 400px;
    overflow: hidden;

  }
  
  .intro-heading {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .intro-title {
    font-weight: 700;
    font-size: 50px;
    font-family: sans-serif;
    text-align: center;
    color:#000;
    margin: 0;
    padding: 0;
    
  }
  
  .intro-subtitle {
    font-weight: 600;
    font-size: 25px;
    margin-top: 10px;
    color:#AAAAAA;
    
  }
  
  .intro-image img {
    width: 400px;
    border-radius: 2px;
  }

}

@media only screen and (max-width: 450px) {

  .intro-card{
    flex-direction: column;
    background: #EEEEEE;
    width: 100%;
    margin: 0;
  }
  
  .intro-title {
    font-weight: 900;
    font-size: 50px;
    font-family: sans-serif;
    color:#000;
    margin: 0;
    padding: 0;    
  }
  
  .intro-subtitle {
    font-weight: 900;
    font-size: 25px;
    margin-top: 10px;
    color:#AAAAAA;
    margin: 0 auto;
    
  }
  
  .intro-image img {
    width: 100%;
    border-radius: 5px;
    /* display: none; */

  }

  .resume-btn {
    margin: 5px;
  }
}