 .tech-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background: #FFFFFF;
  border-radius: 5px;
  padding: 2rem;
  box-shadow: -6px -6px 25px 0px #222222;
  width: 90%;
  margin: auto;
  margin-bottom: 2rem;
}

.tech{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: auto;
}

.tech-image {
  width: 100%;
}


@media only screen and (min-width: 1250px){
  .tech{
    flex-basis: 15%;
  }
}

@media only screen and (max-width: 1250px){
  .tech{
    flex-basis: 20%;
  }
}

@media only screen and (max-width: 1000px){
  .tech{
    flex-basis: 20%;
  }
}

@media only screen and (max-width: 700px){
  .tech{
    flex-basis: 25%;
  }
}

@media only screen and (max-width: 550px){
  .tech{
    flex-basis: 40%;
  }
}

